html, body {
    font-family: $font-family;
    font-weight: $font-medium;
    color: $black;
}

.modalX-bg-red {
    background-color: $red;
}

.modalX-bg-pink {
    background-color: $pink;
}

.modalX-bg-purple {
    background-color: $purple;
}

.modalX-bg-indigo {
    background-color: $indigo;
}

.modalX-bg-light-blue {
    background-color: $light-blue;
}

.modalX-bg-light-teal {
    background-color: $teal;
}

.modalX-bg-blue {
    background-color: $blue;
}
