// Color
$red:           #F44336;
$pink:          #E91E63;
$purple:        #9C27B0;
$indigo:        #3F51B5;
$blue:          #2196F3;
$light-blue:    #03A9F4;
$teal:          #009688;
$green:         #4CAF50;
$yellow:        #FFEB3B;
$amber:         #FFC107;
$orange:        #FF9800;
$brown:         #795548;
$grey:          #9E9E9E;
$black:         #000000;

// Font
$font-family: 'Dosis', sans-serif;
$font-light: 300;
$font-medium: 500;
$font-bold: 700;

